body{
    @include gradient-background(to top,$bg-color1,$bg-color2);
}

#logo{
    max-width: 20%;
}

#navbar{
    ul{
    font-family: $navbar-font;
    }
}

.theme-showcase{
    padding-top: 90px;
}